.title{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

@media (max-width: 950px){
    .title{
        font-size: 1.7rem;
    }
}

@media (max-width: 480px){
    .title{
        font-size: 1.2rem;
    }
}