.descriptionContainer{
    padding-right: 1.5rem;
    margin-top: 15px;
    order: 1;
    width: 70%;
}

.descriptionContainer p{
    line-height: 2rem;
    margin-bottom: 2rem;
}
.image{
   width: 100%;
    max-height: 100%;
}
.image img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width: 1000px){
    .descriptionContainer{
        padding : 0;
        order: 2;
        width : 100%
    }
    .image{
        height: 100%;
        width: auto;
    }
}