.link {
  display: inline-block;
}

.btn {
  outline: none;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: #1888ff;
  border: none;
  color: white;
}

.btn:hover {
  box-shadow: 0px 0px 0px 3px #1888ff;
  color: black;
  background: transparent;
}

.btnBlack {
  outline: none;
  padding: 0 0 0.5rem 0;
  font-weight: 400;
  border-bottom: 3px solid white;
  background-color: transparent;
  letter-spacing: 0.2rem;
  color: white;
  font-size: 1.3rem;
}

.btnBlack:hover {
  border: none;
  box-shadow: none;
  color: white;
  border-bottom: 3px solid white;
  transform: scale(1.1);
}
