.active {
  background-color: #ececec;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.open {
  max-height: 500px;
}
.deliveryForm label {
  display: flex;
}
.inputGroup {
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 20px;
}
.circle {
  color: #1888ff;
}
.inputControl {
  position: absolute;
  pointer-events: none;
  height: 0;
}
.inputGroup:hover {
  background-color: #ececec;
}
.inputGroup p {
  padding-left: 1rem;
}
.error {
  padding-left: 20px;
}
