.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover .title {
  display: flex;
  justify-content: center;
  position: relative;
}
.cover h1 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: white;
}
.cover .bottomText {
  bottom: -50px;
  position: absolute;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.lineFirst,
.lineSecond {
  border-bottom: 3px solid white;
}

.lineSecond::before {
  content: " ";
}
.coverProducts {
  background-image: url("../../images/page-covers/products.jpg");
}
.coverSushies {
  background-image: url("../../images/page-covers/sushi.jpg");
}

.coverSushiesSets {
  background-image: url("../../images/page-covers/sushie-set.jpg");
}

.coverSalads {
  background-image: url("../../images/page-covers/salads.jpg");
}

.coverSoups {
  background-image: url("../../images/page-covers/soup.jpg");
}

.coverDrinks {
  background-image: url("../../images/page-covers/drink.jpg");
}

.coverAbout {
  background-image: url("../../images/page-covers/about-us.jpg");
}

.coverContacts {
  background-image: url("../../images/page-covers/contacts.jpg");
}
.coverOrder {
  background-image: url("../../images/page-covers/order.jpg");
}

@media (max-width: 780px) {
  .cover h1 {
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .cover h1 {
    font-size: 3rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .removeBorder {
    border: none;
  }
  .lineBorder {
    border-bottom: 3px solid white;
  }
}

@media (max-width: 400px) {
  .cover h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  .cover h1 {
    font-size: 2rem;
  }
}
