.productsContainer {
  padding: 25px 15px;
}
.modalWidth {
  width: 600px;
}
.products {
  display: flex;
}
.ordersEmpty {
  color: tomato;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
