.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}
.overlay.show {
  opacity: 1;
  pointer-events: visible;
}
.modalWrapper {
  height: 100%;
  max-width: 90%;
  max-height: 90%;
  width: 400px;
  height: 250px;
  transform: translateY(-200px);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.modal {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.overlay.show .modalWrapper {
  transform: translateY(0);
}
.modalHeader {
  padding: 15px 15px 15px 15px;
  background-color: #ececec;
  display: flex;
  align-items: center;
}
.modalContent {
  padding: 15px 15px 15px 15px;
  padding-top: 1rem;
  max-height: 100%;
  max-width: 100%;
}
.modalTitle {
  letter-spacing: 3px;
  text-align: center;
}
.modalBody {
  display: flex;
}

.mdClose {
  margin-left: auto;
  position: relative;
}
.mdClose svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.contentPadding {
  padding-bottom: 77px;
}
.modalFooter {
  padding: 15px 15px 15px 15px;
  margin-top: auto;
  width: 100%;
}
.modalFooter button {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 400px) {
  .modalFooter .modalButton {
    width: 100%;
    max-width: 100%;
  }
}
